@import 'common/common';

.ubuntu() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.ubuntu-light() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.playfair-display() {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

@main-text-color: #626262;

html, body {
  .playfair-display();
  color: @main-text-color;
  font-size: 14px;
}

//############ mobile ################
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #ededed;
  background-color: white;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .logo-container {
    display: block;
    float: left;
    width: auto;
    max-width: 199px;
    height: 45px;
    margin-top: 0;
    margin-left: 20px;

    .vertical-center3lines();
    a {
      display: block;
      overflow: hidden;
      height: 45px;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .navigation-trigger {
    display: block;
    float: right;

    .vertical-center3lines();
    a {
      display: inline-block;
      vertical-align: middle;
      &:link, &:visited {
        color: black;
      }
      &:hover, &:active, &:focus {
        color: lighten(black, 25%);
      }
      &:last-child {
        margin-left: 20px;
        i {
          font-size: 35px;
          line-height: 30px;
        }
      }
    }
    i {
      margin-right: 20px;
      font-size: 25px;
      line-height: 55px;
    }
  }
}

.mobile-links-list-container {
  position: fixed;
  z-index: 1000;
  top: 55px;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: white;
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ededed;
    li {
      display: block;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #ededed;
      background-image: none;
      a {
        display: block;
        padding: 10px 0 10px 30px;
        text-transform: uppercase;
        font-size: 18px;

        &:link, &:visited {
          color: black;
        }
        &:hover, &:focus, &:active {
          color: black;
          background-color: #ebebeb;
        }
      }
    }
  }
}

.pusher {
  height: 55px;

}

//########### end mobile ##########
.logo-container {
  height: 165px;
  a {
    display: block;
    .vertical-center3lines();
  }
}

.main-menu-container {
  height: 165px;
  ul {
    .vertical-center3lines();
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      a {
        padding: 0 60px;
        text-transform: uppercase;
        &:link, &:visited {
          color: @main-text-color;
        }
        &:hover, &:focus, &:active {
          color: lighten(@main-text-color, 20%);
        }
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        a {
          padding-right: 0;

        }
      }

    }
  }
}

.hero-container {
  margin-bottom: 100px;
  overflow: hidden;
  padding-top: 48%;
  background-repeat: no-repeat;
  background-position: center center;
  //background-image: url('https://picsum.photos/g/1920/922?random');
  -webkit-background-size: cover;
  background-size: cover;
  img {
    //width: 100%;
    //height: auto;
    .img-responsive-fixed-aspect-ratio();
  }
}

.article-container {

  .article-image {
    padding-top: 66.67%;
    margin: 130px 0 25px;
    position: relative;
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 40px 40px 0;
        border-color: transparent rgba(20, 22, 23, 0.45) transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    i {
      position: absolute;
      top: 2px;
      right: 4px;
      color: #e4ded8;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      pointer-events: none;

    }
  }
  .article-image.full.inner {
    margin-top: 60px;
  }
  .article-title {
    display: block;
    //min-height: 100px;
  }
  a.article-link {
    text-transform: uppercase;
    .ubuntu-light();
    &:link, &:visited {
      color: #b4ad9e;
    }
    &:hover, &:focus, &:active {
      color: darken(#b4ad9e, 20%);
    }
  }
  h2 {
    margin: 20px 0 35px;
  }
  .article-content {
    margin-bottom: 40px;
    p {
      .photoshopLineHeight(24, 14);
      margin-bottom: 25px;
    }
    p.italic-paragraph {
      font-style: italic;
      padding: 0 20px;
      margin: 50px 0 20px;
    }

  }
  .article-share {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
      li {
        display: inline-block;
        text-transform: uppercase;
        .ubuntu-light();
        color: #b4ad9e;
        font-size: 13px;
        a {
          margin-left: 15px;
          &:link, &:visited {
            color: #b4ad9e;
          }
          &:hover, &:focus, &:active {
            color: darken(#b4ad9e, 20%);
          }
          i {
            font-size: 20px;

          }
        }
      }
    }
  }

}

.article-container.full {
  margin: 0 80px;
}

.article-container.half {
  border-bottom: 1px solid #ccc;
}

.article-container.right {
  margin: 0 80px 0 0;
}

.article-container.left {
  margin: 0 0 0 80px;
}

.gray {
  background-color: #f0f0f0;
  margin: 130px 0 -30px;
  padding: 60px 0 75px;
  .newsletter-form-container {
    text-align: center;
    .signup-form-inner {
      border-bottom: 1px solid black;
      display: inline-block;
      padding-bottom: 5px;

      h2 {
        color: #333333;
        margin-bottom: 90px;

      }
      input[type = 'email'] {
        .placeholder-color(#626262);
        border: 0;
        background-color: transparent;
        width: calc(~'100% - 40px');
      }
      input[type='submit'] {
        background-color: transparent;
        border: 0;
        .fontAwesome();
        font-size: 20px;

      }
    }
  }
  .articles-recommendation {
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      .ubuntu-light();
    }
    .articles {
      font-size: 0;
      a.recommended-article {
        display: inline-block;
        width: 33.3%;

        h4 {
          font-size: 20px;
        }
        &:link, &:visited {
          h4 {
            color: @main-text-color;
          }
        }
        &:hover, &:focus, &:active {
          h4{
            color: @main-text-color;
          }

        }
        .article-image{
          overflow: hidden;
          padding-top: 66%;
        }
      }
    }
  }
}

.load-more-button-container {
  margin: 170px 0 30px;
  text-align: center;
  a {
    border: 1px solid @main-text-color;
    padding: 15.5px 34px;
    font-size: 20px;
    &:link, &:visited {
      color: @main-text-color;
    }
    &:hover, &:focus, &:active {
      color: darken(@main-text-color, 20%);
      background-color: #e0e0e0;
    }
    &:after {
      //content:'\f04b';
      display: inline-block;
      .fontAwesome();
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);

      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -ms-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
    }
    i {
      display: inline-block;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);

      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -ms-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
    }
  }
  a.openned {
    i {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
}

.togggle {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s 1s;
  -moz-transition: max-height 1s 1s;
  -ms-transition: max-height 1s 1s;
  -o-transition: max-height 1s 1s;
  transition: max-height 1s 1s;
}

.togggle.openned {
  max-height: 1000px;
}

.footer-gray {
  background-color: #f0f0f0;
  margin-top: 140px;

  .footer-inner-content-container {
    height: 100px;
    ul {
      .vertical-center3lines();
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {

          &:link, &:visited {
            color: @main-text-color;
          }
          &:hover, &:focus, &:active {
            color: lighten(@main-text-color, 20%);
          }
          i {
            font-size: 15px;
          }
        }
      }
    }
  }

  .footer-inner-content-container.terms {
    ul {
      margin-left: 80px;
      li {
        a {
          padding-right: 20px;
        }
      }
    }
  }
  .footer-inner-content-container.social {
    text-align: right;
    ul {
      margin-right: 80px;
      li {
        a {
          padding-left: 20px;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo-container {
    height: 80px;
  }

  .main-menu-container {
    height: 80px;
    ul {
      li {
        a {
          padding: 0 25px;
        }
      }
    }
  }

  .hero-container {
    margin-bottom: 50px;
  }

  .article-container {
    .article-image {
      margin-top: 50px;
    }
  }

  .article-container.full, .article-container.left, .article-container.right {
    margin: 0 0 0 0;
  }

  .gray {
    margin: 60px 0;
  }
}

/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}